*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

:root{
    font-size: 17pt;
}

header{
    display: flex;
    height: 4vh;
    width: 90%;
    margin: 1% auto;
    background-color:#fff;
    align-items: center;
}

.logo-container, .nav-links{
    display: flex;
} 

.logo-container{
    flex: 5;
    align-items: center;
    
}

.logo-container span{
    font-size: 1.5rem;
    padding-left: 20px;
}

.img-container{
    max-width: 5%;
}

.img-container img{
    width: 100%;
    padding: 10px;
}

nav{
    flex: 2;
}

.nav-links{
    justify-content: space-evenly;
    list-style: none;
}

.links{
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    
}

.links:hover{
    color: #29b6f6;
    font-size: 1rem;
    transition: all 0.1s ease-in;
}

nav ul li a#current{
    border: 2px solid transparent;
    box-shadow: 2px 3px 10px grey;
    background: #29b6f6;
    color: white;
    padding: 5px 20px;
}

.presentation{
    display: flex;
    width: 90%;
    margin: 5% auto;
    align-items: center;
}

.background-img{
    display: flex;
    justify-content: center;
    height: 65vh;
    width: 65vw;
    flex: 1;
    
}

.background-img img{
    height: 100%;
    width: 100%;
    animation: drop 1.5s ease;
}

.intro{
    flex: 1.5;
    
}
/*  #-webkit-background-clip: text; */
.content h1{
    font-size: 5rem;
    align-self: center;
    background-image: linear-gradient(310deg, rgba(69,201,226,1) 4%, rgba(209,229,104,1) 47%, rgba(148,233,196,0.8519782913165266) 100%);
   
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    animation: textAnim 1.5s ease-in;
}

.content p{
    font-size: 1rem;
    animation: textAnim 1.5s ease-in;
}

.buttons{
    padding: 30px 0px 0px 0px;
}

.button-1{
    padding: 10px;
    width: 200px;
    background: #fff;
    border: none;
    font-size: 0.8rem;
    box-shadow: 3px 5px 10px grey;
    animation: textAnim 1.5s ease-in;
}

.button-1:hover{
    background: #29b6f6;
    height: 50px;
    color: white;
    transition: all 0.2s ease;
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translateX(-80px);
        transform: rotate(-20deg);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes textAnim{
    0%{
        opacity: 0;
        transform: translateX(80px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

